<%- layout('layouts/boilerplate') %>
<h1><%= camp.title %></h1>
<h2><%= camp.location %></h2>
<p><a href="/campgrounds">Back</a></p>
<a href="/campgrounds/<%- camp._id %>/edit"><button>Edit</button></a>
<form action="/campgrounds/<%- camp._id %>?_method=DELETE" method="post">
  <button type="submit">Delete</button>
</form>
